@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 261 67% 92%;
    --foreground: 258 34% 20%;
    --card: 261 67% 97%;
    --card-foreground: 258 34% 20%;
    --popover: 261 67% 97%;
    --popover-foreground: 258 34% 20%;
    --primary: 258 34% 48%;
    --primary-foreground: 258 34% 98%;
    --secondary: 261 60% 88%;
    --secondary-foreground: 258 34% 30%;
    --muted: 261 60% 88%;
    --muted-foreground: 258 34% 40%;
    --accent: 333 24% 38%;
    --accent-foreground: 333 24% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 50% 85%;
    --input: 261 50% 88%;
    --ring: 258 34% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 259 25% 11%;
    --foreground: 261 67% 92%;
    --card: 259 25% 15%;
    --card-foreground: 261 67% 92%;
    --popover: 259 25% 15%;
    --popover-foreground: 261 67% 92%;
    --primary: 258 34% 58%;
    --primary-foreground: 258 34% 98%;
    --secondary: 259 25% 20%;
    --secondary-foreground: 261 67% 92%;
    --muted: 259 25% 20%;
    --muted-foreground: 261 67% 80%;
    --accent: 333 24% 48%;
    --accent-foreground: 333 24% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 25% 25%;
    --input: 259 25% 25%;
    --ring: 258 34% 58%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.card-tile{
  border-color: black;
  border-width: 2px
}
